<h1>My Bookings</h1>
<% @bookings.each do |booking| %>
<div class="card">
  <h3><%= link_to booking.friend.name, booking_path(booking.id) %></h3>
  <p><%= booking.date %></p>
  <p><%= booking.time %></p>
  <p><%= booking.location %></p>
</div>
<% end %>
